In [1]:
# importing relevant libaries
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('energydata.csv')
data.head()

,date,Appliances,lights,T1,RH_1,T2,RH_2,T3,RH_3,T4,...,T9,RH_9,T_out,Press_mm_hg,RH_out,Windspeed,Visibility,Tdewpoint,rv1,rv2
0,2016-01-11 17:00:00,60,30,19.89,47.596667,19.2,44.790000,19.79,44.730000,19.000000,...,17.033333,45.53,6.600000,733.5,92.0,7.000000,63.000000,5.3,13.275433,13.275433
1,2016-01-11 17:10:00,60,30,19.89,46.693333,19.2,44.722500,19.79,44.790000,19.000000,...,17.066667,45.56,6.483333,733.6,92.0,6.666667,59.166667,5.2,18.606195,18.606195
2,2016-01-11 17:20:00,50,30,19.89,46.300000,19.2,44.626667,19.79,44.933333,18.926667,...,17.000000,45.50,6.366667,733.7,92.0,6.333333,55.333333,5.1,28.642668,28.642668
3,2016-01-11 17:30:00,50,40,19.89,46.066667,19.2,44.590000,19.79,45.000000,18.890000,...,17.000000,45.40,6.250000,733.8,92.0,6.000000,51.500000,5.0,45.410389,45.410389
4,2016-01-11 17:40:00,60,40,19.89,46.333333,19.2,44.530000,19.79,45.000000,18.890000,...,17.000000,45.40,6.133333,733.9,92.0,5.666667,47.666667,4.9,10.084097,10.084097

Date, time year-month-day hour:minute:second

Appliances, energy use in Wh

lights, energy use of light fixtures in the house in Wh

T1, Temperature in kitchen area, in Celsius

RH_1, Humidity in kitchen area, in %

T2, Temperature in living room area, in Celsius

RH_2, Humidity in living room area, in %

T3, Temperature in laundry room area

RH_3, Humidity in laundry room area, in %

T4, Temperature in office room, in Celsius

RH_4, Humidity in office room, in %

T5, Temperature in bathroom, in Celsius

RH_5, Humidity in bathroom, in %

T6, Temperature outside the building (north side), in Celsius

RH_6, Humidity outside the building (north side), in %

T7, Temperature in ironing room , in Celsius

RH_7, Humidity in ironing room, in %

T8, Temperature in teenager room 2, in Celsius

RH_8, Humidity in teenager room 2, in %

T9, Temperature in parents room, in Celsius

RH_9, Humidity in parents room, in %

To, Temperature outside (from Chievres weather station), in Celsius

Pressure (from Chievres weather station), in mm Hg

RH_out, Humidity outside (from Chievres weather station), in %

Wind speed (from Chievres weather station), in m/s

Visibility (from Chievres weather station), in km

Tdewpoint (from Chievres weather station), Â°C

rv1, Random variable 1, nondimensional

rv2, Random variable 2, nondimensional

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19735 entries, 0 to 19734
Data columns (total 29 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   date         19735 non-null  object
 1   Appliances   19735 non-null  int64
 2   lights       19735 non-null  int64
 3   T1           19735 non-null  float64
 4   RH_1         19735 non-null  float64
 5   T2           19735 non-null  float64
 6   RH_2         19735 non-null  float64
 7   T3           19735 non-null  float64
 8   RH_3         19735 non-null  float64
 9   T4           19735 non-null  float64
 10  RH_4         19735 non-null  float64
 11  T5           19735 non-null  float64
 12  RH_5         19735 non-null  float64
 13  T6           19735 non-null  float64
 14  RH_6         19735 non-null  float64
 15  T7           19735 non-null  float64
 16  RH_7         19735 non-null  float64
 17  T8           19735 non-null  float64
 18  RH_8         19735 non-null  float64
 19  T9           19735 non-null  float64
 20  RH_9         19735 non-null  float64
 21  T_out        19735 non-null  float64
 22  Press_mm_hg  19735 non-null  float64
 23  RH_out       19735 non-null  float64
 24  Windspeed    19735 non-null  float64
 25  Visibility   19735 non-null  float64
 26  Tdewpoint    19735 non-null  float64
 27  rv1          19735 non-null  float64
 28  rv2          19735 non-null  float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.4+ MB

In [19]:
from sklearn.linear_model import LinearRegression
import seaborn as sns 
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.metrics import r2_score,mean_absolute_error,mean_squared_error,r2_score

scaler = MinMaxScaler()

x = pd.DataFrame(data['T2'])
y = data['T6']
model = LinearRegression()
model.fit(x,y)
y_pred = model.predict(x)

r2 = r2_score(y_pred,y)
round(r2,2)

0.44

In [5]:
scaler = MinMaxScaler()
df = data.drop(['date','lights'],axis = 1)
normalized_df = pd.DataFrame(scaler.fit_transform(df),columns = df.columns)
features = normalized_df.drop(columns=['Appliances'])
target =normalized_df['Appliances']

In [6]:
x_train,x_test,y_train,y_test = train_test_split(normalized_df,target,test_size=0.3,random_state=42)

model = LinearRegression()
model.fit(x_train,y_train)
y_pred = model.predict(x_test)
mae = mean_absolute_error(y_test,y_pred)
round(mae,2)

0.0

In [7]:
mse =np.sqrt(mean_squared_error(y_test,y_pred))
round(mse,2)

0.0

In [8]:
r2 = r2_score(y_test,y_pred)
round(r2,2)

1.0

In [17]:
weight = pd.Series(model.coef_[1:],features.columns).sort_values()
weight_df = pd.DataFrame(weight).reset_index()
weight_df

          index             0
0          RH_2 -1.094012e-15
1            T1 -5.854117e-16
2            T7 -5.471518e-16
3            T6 -4.160375e-16
4            T2 -4.045813e-16
5          RH_4 -3.667122e-16
6          RH_8 -3.323925e-16
7    Visibility -2.209334e-16
8   Press_mm_hg -2.174401e-16
9            T5 -1.736919e-16
10         RH_6 -8.589744e-17
11          rv1 -2.267154e-17
12          rv2 -2.267154e-17
13         RH_5  6.212163e-18
14         RH_3  3.712194e-17
15    Tdewpoint  1.553958e-16
16           T4  2.068751e-16
17         RH_9  2.284868e-16
18    Windspeed  2.752033e-16
19           T3  3.248811e-16
20           T9  4.559590e-16
21         RH_1  5.111978e-16
22           T8  5.663669e-16
23       RH_out  5.717323e-16
24        T_out  8.009888e-16
25         RH_7  8.932299e-16

In [27]:
ridge = Ridge(alpha = 0.4)
ridge.fit(x_train,y_train)

y_pred = ridge.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
round(rmse,2)

0.0

In [29]:
ridge2 = Ridge(alpha = 0.001)
ridge2.fit(x_train,y_train)

Ridge(alpha=0.001)

In [31]:
ridge2.coef_

array([ 9.99990858e-01, -3.03949535e-08,  5.05946676e-06, -2.15815596e-06,
       -4.17379633e-06,  2.65675201e-06,  8.78010298e-07,  2.64895558e-07,
        2.41165044e-07, -1.43241316e-07,  1.46323743e-07,  2.16079787e-06,
        3.47755758e-07,  9.43268716e-08, -4.07874439e-07,  9.32382064e-07,
       -1.44066687e-06, -1.73635108e-06, -3.63880690e-07, -2.94062284e-06,
        6.25172018e-08, -7.09362075e-07,  2.66813333e-07,  1.12496015e-07,
        1.07549523e-06,  7.03938018e-09,  7.03938018e-09])

In [35]:
y_pred = ridge2.predict(x_test)
rmse = np.sqrt(mean_squared_error(y_test,y_pred))
round(rmse,3)

0.0